@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    color: #ffffff;
    font-family: "Maven Pro", sans-serif;
}


.formato{
  clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
}

.tamanho-form{
  width: 400px;
}

.card-menu{
  width: 220px;
  height: 350px;
}

.green-text{
  color: #85C680;
}

.green-bg{
  background-color: #85C680;
}

.green-border{
  border-color: #85C680;
}

.bg-preto{
  background-color: #1D1D1F;
}


.bg-verde-escuro{
  background-color: #193D1E;
}
.bg-verde-claro{
  background-color: #486D4B;
}

.bg-marrom-escuro{
  background-color: #512C17;
}

.bg-marrom-claro{
  background-color: #BCA79D;
}

.bg-marrom-claro{
  background-color: #BCA79D;
}

.preto-texto {
    color: #1D1D1F;
  }
  
  .marrom-claro {
    color: #BCA79D;
  }
  
  .marrom-medio {
    color: #867369;
  }
  
  .verde-escuro {
    color: #193D1E;
  }
  
  .verde-medio {
    color: #486D4B;
  }

.card {
  width: 250px;
  height: 380px;
}
  